<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>
<form class="p-10 max-w-lg mx-auto bg-white border-2 mt-10 rounded-lg">
    <h1 class="font-medium text-3xl text-center py-4 text-gray-800">Octagon Logo</h1>
    <label class="font-medium block mb-1 mt-6 text-gray-700" for="password">
        New Password
    </label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 right-0 flex items-center px-2">
            <input id="password" class="hidden js-password-toggle" id="toggle" type="checkbox"/>
            <label id="new-password"
                   class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
                   for="toggle">show</label>
        </div>
        <input class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16 font-mono js-password"
               id="password-value" type="password" autocomplete="off"
        />
    </div>

    <label class="font-medium block mb-1 mt-6 text-gray-700" for="password">
        Confirm Password
    </label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 right-0 flex items-center px-2">
            <input class="hidden js-password-toggle" id="toggle" type="checkbox"/>
            <label class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
                   for="toggle">show</label>
        </div>
        <input class="appearance-none border-2 rounded w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-indigo-700 focus:bg-white text-gray-700 pr-16 font-mono js-password"
               id="confirm-password-value" type="password" autocomplete="off"
        />
    </div>

    <button onclick="submitForm()"
            class="w-full bg-indigo-700 hover:bg-indigo-900 text-white font-medium py-3 px-4 mt-10 rounded focus:outline-none focus:shadow-outline"
            type="button">
        Change Password
    </button>
    <br>
    <br>
<div onclick="document.getElementById('snackbar').classList.add('hidden')" id="snackbar" class="cursor-pointer border-t-4 rounded-b px-4 py-3 shadow-md hidden" role="alert">
  <div class="flex">
    <div class="py-1">
        <svg id="svg" class="fill-current h-6 w-6 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
    </div>
    <div>
      <p class="font-bold" id="snackbar-title"></p>
      <p class="text-sm" id="snackbar-msg"></p>
    </div>
  </div>
</div>
</form>

<script>
    const passwordToggle = document.querySelector('.js-password-toggle')

    passwordToggle.addEventListener('change', function () {
        const password = document.querySelector('.js-password'),
            passwordLabel = document.querySelector('.js-password-label')

        if (password.type === 'password') {
            password.type = 'text'
            passwordLabel.innerHTML = 'hide'
        } else {
            password.type = 'password'
            passwordLabel.innerHTML = 'show'
        }

        password.focus()
    })

    const submitForm = () => {
        let snackbar = document.getElementById("snackbar").classList
        let svg = document.getElementById("svg").classList
        let password = document.getElementById('password-value').value
        let confirm_password = document.getElementById('confirm-password-value').value
        let snackbar_msg = document.getElementById('snackbar-msg')
        let snackbar_title = document.getElementById('snackbar-title')
        if (password !== confirm_password) {
            snackbar.remove("hidden")
            snackbar.add("border-red-900", "bg-red-100")
            svg.add("border-red-500")
            snackbar_title.innerText="Failed"
            snackbar_msg.innerText="Password didn't match"

        } else {
            let payload = {password: password, reset_code: "{{ code }}", email: "{{ email }}"}

            fetch("/api/auth/password/reset", {
                    method: "POST",
                    body: JSON.stringify(payload),
                    headers: { "Content-type": "application/json; charset=UTF-8"}
                }
            ).then(data => {
                snackbar.remove("hidden")
                snackbar.add("border-green-500", "bg-green-100")
                svg.add("border-green-500")
                snackbar_title.innerText="Success"
                snackbar_msg.innerText="Password updated successfully"

            })
                .catch(err => {
                    snackbar.remove("hidden")
                    snackbar.add("border-red-900", "bg-red-100")
                    svg.add("border-red-500")
                    snackbar_title.innerText="Failed"
                    snackbar_msg.innerText="Error in updating password"
                })
        }

    }
</script>
</body>

</html>