[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Octagon-BE
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --access-logfile /home/ubuntu/logs/access.log --error-logfile /home/ubuntu/logs/errors.log --capture-output --enable-stdio-inheritance --bind unix:/run/gunicorn.sock settings.wsgi:application

